.navbar {
	display: flex;
	flex-direction: row;
	padding: 2%;
	align-items: center;
	justify-content: space-between;
}

.navbar #logo {
	order: -1;
}

.navbar .links {
	list-style-type: none;
	justify-content: space-between;
}

.navbar .links a {
	text-decoration: none;
	font-size: 32px;
	color: #5e00ff;
	transition: .4s;
	font-family: franklin gothic medium;
}

.navbar .links a:hover {
	color: #C6394A;
	transition: .5s;
}

.navbar .links a::after {
	content: '';
	width: 0;
	height: 3px;
	background-color: #C6394A;
	margin: auto;
	display: block;
	transition: width 0.3s linear;
}

.navbar .links a:hover::after {
	width: 100%;
	transition: width 0.3s linear;
}

.navbar #active a {
	color: #C6394A;
}

.navbar #active a::after {
	content: '';
	width: 100%;
	height: 3px;
	background-color: #C6394A;
	margin: auto;
	display: block;
}

#navBorder {
	background: linear-gradient(20deg, #C6394A 0%, #5e00ff 100%);  
	padding: 10px;
	border: 1px none;
}
/* Navbar stuff above, resume below */

.resume {
    border: 1px solid black;
    padding-left: 3%;
    padding-right: 3%;
}

.header {
    text-align: center;
}

#title {
    text-align: left;
}

#date {
    text-align: right;
}

.header {
    display: visible;
}

.title, .info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@media all and (min-width: 601px) {
    .smallHeader {
        display: none;
    }
}

@media all and (max-width: 900px) {
	.navbar .links a {
		font-size: 24px;
	}
}

@media all and (max-width: 600px) {
    .navbar {
		flex-direction: column;
		align-items: center
	}
	.navbar .links a {
		font-size: 20px;
	}
	.navbar #logo {
		display: none;
	}
	.header {
        display: none;
    }
    .smallHeader {
        display: visible;
        text-align: center;
    }
    .section h3 {
        text-align: center;
    }
	.title, .info {
		flex-direction: column;
	}
}